[Unit]
Description=Emacs: the extensible, self-documenting text editor
ConditionPathExists=!%h/.emacs.d/.emacs.desktop.lock

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=no

[Install]
WantedBy=default.target
